.header {
    padding: 15px;
    background-color: #004AAD;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.header-button-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 14px;
}

.header-img-button {
    height: 23px;
    width: 23px;
}

.imageProfile {
    width: 100%;
    max-width: 33px;
    max-height: 33px;
    object-fit: cover;
    border: solid 2px #D3D3D3;
    border-radius: 50%;
}

.navLabel {
    display: none;
    color: white;
}

.notif-icon-container {
    position: relative; 
    display: inline-block; 
}

.search-container {
    position: relative;
  }
  
  .Product-SearchBar {
    max-width: 25em;
    margin-right: 7px;
    border-radius: 5px;
    padding: 7px;
    font-size: 14px;
  }
  
  .search-dropdown {
    position: absolute;
    top: 512px;
    width: 500px;
  }
  
  .search-dropdown-row {
    padding: 5px;
    cursor: pointer;
    color: rgba(0,0,0,.87);
    text-align: start;
    border: none;
    margin-top: -477px;
    margin-left: 390px;
    width: 490px;
    background-color: white;
  }
  
  .search-dropdown-row:hover {
    background-color: #f0f0f0 !important; 
  }

.notif-count {
    margin: 2px;
    margin-right: 15px;
}

.cart-icon-container {
    position: relative; 
    display: inline-block; 
}

.cart-count, .notif-count {
    position: absolute; 
    top: -12px; 
    left: 15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 3px 3px 2px;
    font-size: 10px;
    min-width: 15px; 
    max-height: 15px;
    text-align: center; 
}

.cart-icon-container:hover .cart-dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
    transform: translateY(0);
}

.cart-dropdown {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    width: 350px;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px 10px;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10; 
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cart-dropdown button {
    margin-left: 230px;
    padding: 5px 15px;
    border: 2px solid #ccc;    
    border-radius: 4px;         
    background-color: transparent; 
    cursor: pointer;              
    transition: 0.3s;             

    &:hover {
        background-color: #f7f7f7; 
        border-color: #999;      
    }
}

.itemsTotal {
    flex: 1;
    margin-left: 10px;
}

.hoverButton {
    margin-left: auto;
}

.cart-dropdown-footer { 
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.cart-dropdown-item {
    transition: background-color 0.3s ease;
}

.cart-dropdown-item:hover {
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);;
}

.cart-dropdown-item img {
    flex-shrink: 0; 
    margin-right: 10px;
    gap: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-productName,
.dropdown-price {
    padding-top: 12px;
    position: absolute;
    font-size: 12px;
}

.dropdown-price {
    right: 0;
    margin-right: 13px;
}

.logo {
    width: 100%;
    max-width: 110px;
    height: 100%;
    max-height: 35px;
    cursor: pointer;
}

.nav-icon {
    width: 100%;
    max-width: 20px;
}

.nav-btn {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    margin-right: 60px;
}

.customer-nav-link, .customer-nav-droplink {
    margin: 10px;
    text-decoration: none;
}

.customer-nav-droplink:hover {
    text-decoration: none;
    color: #FFAA00;
}


.dropdown-icon {
    width: 8%;
    margin: 0px 10px 0px 20px;
}

.dropdown {
    cursor: pointer;
}

.pop-up-empty-cart-message {
    display: flex;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
    color: #020654;
    border-radius: 5px;
    margin: 2rem 0 2rem 4.5rem;
    width: fit-content;
}

.pop-up-empty-cart-img {
    width: 100%;
    max-width: 25px;
    height: 100%;
    max-height: 25px;
    margin-right: 8px;
}

/* .logout-container {
    margin-bottom: 10px;
} */

.customer-nav-link .tooltip-text-nav {
    text-decoration: none;
    visibility: hidden;
    width: 50px;
    background: black;
    color: #ffff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: bottom;
    z-index: 1;
}

.customer-nav-link:hover .tooltip-text-nav {
    visibility: visible;
    text-decoration: none;
}

#tooltip {
    position: relative;
    cursor: pointer;
    z-index: 1;
}

#tooltip-text {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #020654;
    color: #fff;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 5;
}

#tooltip-text::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

i {
    color: #004AAD;
}


#tooltip:hover #tooltip-text {
    top: 120%;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 480px) {
    .logo {
        max-width: 5em;
        max-height: 2em;
    }

    i {
        color: #fff;
    }

    .navLabel {
        display: block;
        margin-right: 10px;
        margin-left: 40px;
    }

    .header-button-container {
        position: absolute;
        background-color: #020654 ;
        top: 10px;
        right: 10px;
        padding: 10px;
        border-radius: 5px;
        visibility: hidden;
        flex-direction: column;
        width: 10em;
        opacity: 0;
        z-index: 5;
        transition: .3s ease;
    }

    input:checked ~ .header-button-container {
        visibility: visible;
        opacity: 1;
    }

    .Product-SearchBar {
        font-size: 12px;
        max-width: 18em;
    }
}