.notif-main-container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #8C9EFF;
    background-repeat: no-repeat;
}

.notifItem-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    z-index: 0;
    background-color: #ECEFF1;
    padding-bottom: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 10px;
    width: 100%; 
    margin: 8px;
}

.cancel-orders-btn-container {
    display: flex;
    width: 40em;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.top {
    padding-top: 40px;
    padding-left: 13% !important;
    padding-right: 13% !important;
}

/*Icon progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px;
} 

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar .step0:before {
    font-family: FontAwesome;
    content: "\f10c";
    color: #fff;
}

#progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 40px; 
    display: block;
    font-size: 20px;
    background: #C5CAE9;
    border-radius: 50%;
    margin: auto;
    padding: 0px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 12px;
    background: #C5CAE9;
    position: absolute;
    left: -115px;
    top: 16px;
    z-index: -1;
    transition: background-color 0.3s; 
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

#progressbar li:nth-child(2):after, #progressbar li:nth-child(3):after {
    left: -50%;
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%;
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #651FFF;
}

#progressbar li.active:before {
    font-family: FontAwesome;
    content: "\f00c";
}

.icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.icon-content { 
    display: flex;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .icon-content {
        width: 50%;
    }
}

.show-more-btn-notif {
    text-decoration: none;
    font-weight: 500;
}

.show-more-btn-notif:hover {
    text-decoration: none;
}

.modal-receipt-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.receipt-num-header {
    margin-left: 20px;
    color: #004AAD;
}

.order-num-receipt-header-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.notif-order-details-label {
    display: flex;
    flex-flow: column;
}

.notif-order-details-container {
    display: flex;
    justify-content: space-between;

}

.notif-order-details-1, .notif-order-details-2 {
    display: flex;
    flex-flow: column;
}

.notif-order-details-subTitle {
    margin-bottom: 15px;
}

.notif-order-details-2 {
    margin-right: 2rem;
    justify-content: end;
    align-items: end;
}

.notif-order-details-1 {
    font-weight: 600;
}

.customer-info-container-notif, .order-info-container-notif {
    border: solid #F0F0F0 2px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.order-info-totalAmount-receiptContainer {
    margin-top: 35px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.totalAmount-receipt {
    font-weight: 400;
    color: #004AAD;
}

.receipt-amount {
    font-weight: 600;
}

.close-receipt-btn, .save-receipt-btn {
    border: solid 1px black;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
}

.close-receipt-btn:hover {
    background-color: #F0F0F0;
}

.save-receipt-btn:hover {
    background-color: #004AAD;
    border: solid 1px white;
    color: white;
}

.order-details-itemList-container {
    display: flex;
    flex-flow: row;
}

.item-list-container-receipt {
    border: solid 2px #f0f0f0;
    padding: 15px;
    border-radius: 10px;
}

.view-receipt-btn {
    margin-left: 30px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.view-receipt-btn:hover {
    background-color: #0056b3; 
}

.view-receipt-received-btn {
    margin-left: 30px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.view-receipt-received-btn:hover {
    background-color: red; 
}

#cancellationModal .modal-content {
    border-radius: 0.5rem;
}

#cancellationModal .modal-header, #cancellationModal .modal-footer {
    border-bottom: none;
    border-top: none;
}

#cancellationModal .btn-close {
    background: none;
    opacity: 0.7;
}

#cancellationModal .btn-close:hover {
    opacity: 1;
}

#cancellationModal .form-check-input {
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
    border: 2px solid #0d6efd; 
    background-color: #fff;
    transition: background-color 0.15s, border 0.15s;
}

#cancellationModal .form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

#cancellationModal .form-check-label {
    margin-left: 0.5rem;
    font-size: 1.3rem;
}

#cancellationModal .form-check {
    margin-bottom: 1rem;
}

#cancellationModal .modal-footer button {
    border-radius: 0.3rem;
}

#cancellationModal .btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

#cancellationModal .btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.modal-title {
    font-size: 1.5rem;
}


/* * Cancel Progressbar * */
#progressbarCancel {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px;
} 

#progressbarCancel li {
    list-style-type: none;
    font-size: 13px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbarCancel .step0:before {
    font-family: FontAwesome;
    content: "\f10c";
    color: #fff;
}

#progressbarCancel li:before {
    width: 40px;
    height: 40px;
    line-height: 40px; 
    display: block;
    font-size: 20px;
    background: #C5CAE9;
    border-radius: 50%;
    margin: auto;
    padding: 0px;
}

/*ProgressBar connectors*/
#progressbarCancel li:after {
    content: '';
    width: 100%;
    height: 12px;
    background: #C5CAE9;
    position: absolute;
    left: -115px;
    top: 16px;
    z-index: -1;
    transition: background-color 0.3s; 
}

#progressbarCancel li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

#progressbarCancel li:nth-child(2):after, #progressbarCancel li:nth-child(3):after {
    left: -50%;
}

#progressbarCancel li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%;
}

#progressbarCancel li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#progressbarCancel li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*Color number of the step and the connector before it*/
#progressbarCancel li.active:before, #progressbarCancel li.active:after {
    background: red;
}

#progressbarCancel li.active:before {
    font-family: FontAwesome;
    content: "\f00c";
}

@media screen and (max-width: 480px) {
    .icon {
        max-width: 2em;
        max-height: 2em;
    }

    .order-status-text {
        font-size: 10px;
        font-weight: 400;
    }

    .order-details-itemList-container {
        flex-flow: column;
    }

    .receipt-num-header {
        font-size: 15px;
    }
}