.shop-main-container {
    display: flex;
    flex-flow: row;
}

.shop-content1-container {
    width: 25%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.shop-img {
    width: 100%;
    max-width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 3px white;
    margin-left: 12px;
}

.shopDetails-container-shop {
    background-color: #F0F0F0;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    min-width: fit-content;
}

.visitShop-seller-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.seller-information-visitShop {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.visitShop-Name {
    font-weight: 600;
    margin-top: 10px;
    width: 10em;
    display: flex;
    justify-content: start;
}

.visitShop-address {
    font-size: 13px;
}

.ratingIcon {
    width: 100%;
    max-width: 12px;
    margin-right: 5px;
}

.visitShop-rating {
    font-size: 12px;
    padding-bottom: 15px;
}

.prod-type-checkbox, .prod-gender-checkbox, .prod-price-checkbox {
    display: flex;
    justify-content: start;
    flex-flow: column;
    white-space: nowrap;
    margin-left: 15px;
    margin-bottom: 10px;
}

.prod-gender-checkbox {
    margin-left: 17px;
}

.prodFilter-container {
    border-top: solid 3px white;
    padding: 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.type-filter-label, .gender-filter-label, .price-filter-label {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.prodType-filter-title {
    font-size: 15px;
    font-weight: 700;
}

.filter-text {
    font-size: 20px;
    width: 8em;
    padding-top: 10px;
    margin-bottom: 10px;
}

.prod-cart-checkBox {
    width: fit-content;
    height: fit-content;
}

.topRated-label {
    margin-bottom: 20px;
}

.top-ratedProducts-Shop {
    width: 90%;
    padding: 20px;
    height: 28em;
}

.otherProds-visitShop-container {
    width: 90vw;
    max-width: 90vw;
    display: flex;
    flex-direction: row;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.prods-available-label {
    width: 80%;
    padding: 20px;
}

.topProdPrice {
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.visitShop-topProdName {
    color: white;
    font-size: 12px;
}

/* PRODUCT LIST DESIGN */
.shop-content2-container {
    width: 75%;
    height: 87vh;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
    overflow: auto;
}

.topProds-container-visitShop {
    max-width: 90%;
    display: flex;
    flex-direction: row;
}

.topProdShop-card {
    width: 210px;
    height: 245px;
    display: flex;
    justify-content: center;
    background: linear-gradient(-45deg, rgb(1, 29, 185) 0%, rgb(12, 201, 235) 100%);
    align-items: center;
    border-radius: 10px;
    flex-flow: column;
    margin-right: 10px;
    cursor: pointer;
    transition: all .3s;
    box-shadow: 4px 6px 14px #00000036;
}

.prodShop-card {
    width: 210px;
    height: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-flow: column;
    margin-right: 10px;
    cursor: pointer;
    transition: all .3s;
    box-shadow: 4px 6px 14px #00000036;
}

.prodShop-card:hover, .topProdShop-card:hover {
    margin-top: -10px;
}

.visitShopProdImg {
    width: 100%;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 8px;
}

.shop-prodDetails-container {
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}

.visitShop-prodName {
    font-size: 12px;
}

.visitShop-prodPrice {
    color: #004AAD;
    font-weight: 700;
    font-size: 15px;
}

.viewProd-modalBody {
    display: flex;
    flex-flow: column;
    gap: 30px;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

/* .modal-content {
    background: linear-gradient(135deg, #a3b8ff 0%, #b0c7ff 25%, #bed5ff 50%, #cbe3ff 75%, #d8f1ff 100%);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    padding: 25px;
    color: #333;
    position: relative;
    overflow: hidden;
} */

.product-reviews-container {
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 50em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-review-card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prodReview-visitShop {
    height: fit-content;
    padding: 10px;
}

.custDetails-reviews {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.cust-name-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 10px;
}

.reviews-CustName {
    font-weight: 600;
    font-size: 14px;
}

.reviewRating, .reviews-rating {
    color: #005AAD;
}

.prodModal-Image {
    width: 100%;
    max-width: 400px;
    height: 400px;
    object-fit: contain;
}

.hover-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.hover-container div{
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active{
    border-color: #004AAD!important;
}

.hover-container div:hover{
    border-color: #004AAD;
}

.hover-container div img{
    width: 50px;
    cursor: pointer;
}

.image-container {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.prodSizeGuideModal-Image {
    width: 100%;
    height: 100%;  
}

.sizeGuide-btn {
    box-shadow: 2px 3px 7px #00000036;
    padding: 10px 20px;
    transition: all .2s ease;
}

.sizeGuide-btn:hover {
    scale: 1.1;
}

.prodModal-details-container {
    width: fit-content;
    height: inherit;
    padding: 10px 0 20px ;
}

.prodModal-Name {
    font-weight: 600;
    line-height: 35px;
}

.prodModalRating-icon {
    width: 100%;
    max-width: 12px;
}

.prodModal-text {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    font-size: 12px;
}

.prodModal-Price {
    font-weight: 600;
    color: #004AAD;
    margin-top: 15px;
}

.prodModal-Size-Stock-container {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    width: 40em;
}

.addToCart-container {
    display: flex;
    justify-content: center;
}

.prodModal-stocks {
    font-size: 15px;
    font-weight: 600;
}

.prodModal-quantity-container {
    display: flex;
    flex-flow: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}

.prodModal-minus-quanti-btn, .prodModal-plus-quanti-btn {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #3A8AEE;
    color: white;
    font-weight: 600;
}

.prodModal-quanti-input {
    width: 60px;
    border: solid 1px transparent;
    border-radius: 5px;
    background-color: #F0F0F0;
    padding: 5px;
}

.prodModal-add-to-cart-btn {
    margin-top: 50px;
    background-color: #004AAD;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}

.prodModal-add-to-cart-btn:hover {
    background-color: #005AAD;
    scale: 1.1;
}

.prodModal-cart-icon {
    width: 100%;
    max-width: 12px;
    margin-right: 5px;
}

.close-btn-container {
    display: flex;
    justify-content: end;
    padding: 15px 15px 0;
}

.inactive-product {
    opacity: 0.5;
    pointer-events: none; 
    cursor: not-allowed;
}

/* REVIEWS */
.review-cust-profile {
    width: 100%;
    max-width: 5em;
    border-radius: 50%;
}

@media screen and (max-width: 480px) {
    .shop-main-container {
        flex-flow: row;
        gap: 50px;
    }

    .visitShop-Name {
        font-size: 15px;
        font-weight: 600;
    }

    .prodModal-Image {
        max-width: 200px;
        max-height: 200px;
    }

    .visitShopProdImg {
        max-width: 50px;
    }
    .shopDetails-container-shop {
        width: fit-content;
      }

      .shop-img {
        width: 100%;
        max-width: 70px;
        max-height: 70px;
        object-fit: cover;
        background-color: rebeccapurple;
      }

      .prodShop-card {
        width: 190px;
        height: 150px;
      }

      .visitShopProdImg {
        max-width: 50px;
        max-height: 50px;
      }

      .type-filter-label, .price-filter-label, .gender-filter-label {
        font-size: 10px;
        gap: 40px;
      }

      .shopDetails-container-shop {
        width: fit-content;
        margin-left: 6em;
        justify-content: start;
        align-items: start;
      }
      
      .shop-content2-container {
        margin-left: 40px;
      }
}
