.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #004AAD;
    opacity: 1; 
    transition: opacity 1s ease; 
}

.loading-logo img {
    width: 500px;
    height: auto;
    margin-bottom: 20px; 
}

.loading-message-logginIn {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 1s ease 2s forwards;
}

.loading-message-successful {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 1s ease 2s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
