.manage-orders-main-container {
    width: 85vw;
    padding: 10px;
    background-color: #f0f0f0;
    height: 92vh;
}

.orders-scroll-container {
    background-color: #f0f0f0;
}

.supplier-nav-items {
    font-size: 15px;
    margin: 5px;
    border-radius: 5px;
}

.supplier-nav-items:hover {
    background-color: white;
}

.orders-supplier-container {
    max-height: 580px;
    overflow: auto;
    overflow-x:hidden;
    scroll-behavior: smooth;
    display: inline-block;
    width: 77vw;
    margin-left: 100px;
}

.order-status-label {
    margin-top: 50px;
}

/* MODAL */
.pending-header {
    display: flex;
    justify-content: space-between;
}

.order-details-customer {
    border: solid 2px #f0f0f0;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-flow: column;
}

.modal-item-list {
    border: solid 2px #f0f0f0;
    border-radius: 10px;
    padding: 15px;
    width: 60rem;
}

.customer-details-container, .order-details-container {
    display: flex;
    flex-flow: row;
    gap: 20px;
    width: 35rem;
}

.order-details-subtitle{
    border-bottom: solid 2px #f0f0f0;
}

.modal-details-label, .modal-details-info {
    display: flex;
    flex-flow: column;
}

.modal-label {
    font-weight: 600;
    font-size: 12px;
}

.modal-info {
    font-size: 12px;
}

.modal-order-details-container {
    border: solid 2px #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.modal-item-list-table-wrapper {
    height: 70vh;
    overflow: auto;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
