.forgot-pwd-main-container {
    background-color: #004AAD;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: end;
}

.webLogo {
    width: 100%;
    max-width: 12rem;
    margin-bottom: 5rem;
}

.instruction-title {
    font-weight: 600;
}

.instruction-container {
    margin-bottom: 3rem;
    display: flex;
    flex-flow: column;
}

.forgot-pwd-subContainer {
    border-radius: 10px;
    background-color: #f8f6f6;
    width: 50rem;
    height: 50rem;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column;
    margin-left: 20rem;
    margin-bottom: 6.5rem;
}

.forgot-form-input {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 25rem;
}

.studentImg {
    width: 100%;
    max-width: 50rem;
    margin-top: 12.8rem;
}

.forgot-pwd-form {
    display: flex;
    flex-flow: column;
}

.forgot-form-cancel-btn {
    padding: 10px;
    /* border: solid 1px black;
    background-color: white; */
    border-radius: 20px;
    font-weight: 500;
    width: 8rem;
}

.forgot-form-submit-btn {
    padding: 0 10px 0 5px;
    border-radius: 20px;
    font-weight: 600;
    width: 8rem;
    /* background-color: black;
    color: white; */
}

.forgot-form-btn-container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.forgot-form-cancel-btn:hover, .forgot-form-submit-btn:hover {
    background-color: #e6e6e6;
}

.forgot-btn-icons {
    width: 100%;
    max-width: 12px;
    margin-right: 5px;
}

.forgot-btn-icon-submit {
    width: 100%;
    max-width: 30px;
}

.forgot-to-login {
    text-decoration: none;
}

.forgot-to-login:hover {
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .forgot-pwd-main-container {
        flex-flow: column;
        width: 100%;
    }

    .forgot-pwd-subContainer {
        width: 35em;
        margin-right: 20px;
        margin-top: 30px;
    }

    .studentImg {
        visibility: hidden;
    }
}