.login-1-container {
    background-color: #004AAD;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    padding: 0%;
}

.web-logo {
    width: 100%;
    max-width: 350px;
}

.login-text {
    margin-bottom: 30px;
}

.text {
    color: white;
    font-weight: 300;
    margin-bottom: 20px;
}

.login-2-container {
    background-color: #F0F0F0;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0%
}

.login-title {
    font-weight: 800;
    margin-bottom: 10px;
    color: #020654;
    font-size: 30px;
}

.stud-img {
    width: 100%;
    max-width: 500px;
}

.input-login {
    font-size: 15px;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 22em;
}

.login-btn {
    color: white;
    font-size: 15px;
    padding: 10px;
    background-color: #004AAD;
    border-radius: 20px;
    margin-top: 30px;
    width: 20em;
}

.login-btn:hover {
    background-color: #00439b;
    font-weight: 600;
}

.login-link-btn {
    border-radius: 5px;
    margin-top: 40px;
    background-color: #004AAD;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.register-btn-container {
    display: flex;
    flex-flow: row;
    gap: 10px;
    margin-top: 10px;
}

.register-link{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.register-link-1 {
    margin-top: 30px;
    color: black;
    margin-left: 8px;
    font-weight: 600;
}

.register-customer-btn {
    padding: 5px 10px 5px 10px;
    width: 100px;
    border: solid 1px black;
    border-radius: 20px;
}

.register-customer-btn:hover {
    background-color: #dcdcdc;
}

.register-text {
    margin: 70px 0px 20px 0px
}

.forgot-pwd-container {
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.forgot-pwd-icon {
    width: 100%;
    max-width: 20px;
    height: 100%;
    max-height: 20px;
    margin-right: 5px;
}

.forgot-pwd-btn {
    padding: 5px;
    font-weight: 500;
}

.forgot-pwd-btn:hover {
    font-weight: 600;
}

.input-email {
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.forgotpwd-message {
    margin-bottom: 25px;
}

.reset-btn {
    width: 15rem;
    border: solid 1px black;
    padding: 10px;
    border-radius: 10px;
    margin-left: 80px;
}

.error-message-container {
    height: 5px; 
    margin-bottom: 8px;
    color: red;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

.error-message {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.login-input-container-withErrorMessage {
    flex-flow: column;
    justify-content: space-evenly;
}

/* FOR MOBILE PHONES */
@media screen and (max-width: 480px) {
    .login-1-container {
        height: fit-content;
        padding: 20px;
    }

    .login-2-container {
        height: fit-content;
        padding-top: 20px;
    }

    .web-logo {
        max-width: 130px;
    }

    .text {
        font-size: 10px;
    }

    .stud-img {
        max-width: 150px;
    }

    .login-text {
        font-size: 13px;
    }

    .login-btn {
        font-size: 12px;
        width: 15em;
        padding: 8px 0;
    }

    .input-login {
        font-size: 12px;
    }

    .login-input-container-withErrorMessage {
        justify-content: center;
        align-items: center;
    }

    .register-text {
        margin: 40px 0px 10px 0px;
        font-size: 15px;
    }

    .register-customer-btn {
        font-size: 12px;
    }

    .forgot-pwd-btn {
        font-size: 10px;
        margin-left: 60px;
    }

    .forgot-pwd-icon {
        max-width: 1.3em;
        height: 1.3em;
    }
  }

  @media screen and (max-width: 500px) {
    .forgot-pwd-container {
        width: 23em;
    }

    .forgot-pwd-icon {
        max-width: 13px;
    }

    .forgot-pwd-btn {
        font-size: 11px;
    }
  }

/* FOR TABLETS */
  @media screen and (max-width: 768px) {
    .main-container {
        width: 100vw;
        height: 100vh
    }
    .login-1-container {
        width: 100%;
        height: 100%;
        padding: 10px 0 15px;
    }

    .login-2-container {
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .web-logo {
        max-width: 250px;
    }

    .login-input-container-withErrorMessage {
        width: fit-content;
        margin-right: 80px;
    }

    .text {
        font-size: 12px;
    }

    .stud-img {
        max-width: 270px;
    }

    .input-login {
        font-size: 12px;
        width: 27em;
        margin-left: 50px;
    }

    .login-text {
        font-size: 13px;
    }

    .login-btn {
        font-size: 12px;
        width: 14em;
        height: fit-content;
        padding: 7px;
    }

    .register-text {
        font-size: 15px;
        margin-top: 20px;
    }

    .register-customer-btn {
         font-size: 13px;
    }
  }