.admin-shops-main-container {
    height: 92vh;
    width: 85vw;
    padding: 20px;
    background-color: #F0F0F0;
    display: flex;
    flex-flow: column;
}

.shopProfileImgCard {
    width: 100%;
    max-width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
}

.supplier-card-title {
    max-width: 11em;
}

.admin-shops-header {
    padding: 10px;
    width: 82vw;
    height: 5rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.admin-shops-filter {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.shops-admin-container {
    display: flex;
    flex-flow: row;
    max-width: 85vw;
    flex-wrap: wrap;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 10px;
}

.admin-shop-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex-flow: row;
    width: 31.5rem;
    height: 14rem;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 4px 6px 14px #00000036;
    transition: all .3s ease;
}

.admin-shop-card:hover {
    scale: .97;
}

.adminShop-card-details {
    margin-left: 15px;
    justify-content: start;
    display: flex;
    align-items: start;
    flex-flow: column;
}

/* VIEW PRODUCTS MODAL */
.viewProds-modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.productList-modalBody {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.admin-viewProds-card {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10px;
    height: 4.7rem;
}

.admin-prodFilter-container {
    border-top: solid 3px white;
    padding: 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    width: 20vw;
    border-radius: 10px;
}

.adminShop-prods-container {
    width: 80%;
    height: 80vh;
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    flex-flow: column;
    justify-content: flex-start; 
    gap: 20px;
}

.admin-viewProd-img {
    width: 100%;
    max-width: 7rem;
    max-height: 7rem;
    border-radius: 5px;
    margin-top: 25px;
}

.admin-prodPrice, .admin-prodStocks {
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
}

.admin-prodName {
    color: white;
}

.totalStocks-adminProd, .price-adminProd {
    font-size: 18px;
    margin-left: 8px;
    color: white;
}

.admin-prodDetails-labels {
    font-weight: 600;
    color: white;
}

.admin-prodDetails-text {
    font-weight: 400;
    color: white;
}

.prodList-card-admin {
    box-shadow: 4px 6px 14px #00000036;
    border-radius: 10px;
    width: 80em;
    padding: 10px;
    background: linear-gradient(-45deg, rgb(1, 29, 185) 0%, rgb(12, 201, 235) 100%);
}

.admin-prodShowDetails-btn {
    color: white;
    text-decoration: none;
    font-size: 13px;
    border: none;
    background: none;
}

.admin-prodShowDetails-btn::before {
    margin-left: auto;
}

.admin-prodShowDetails-btn::after, .admin-prodShowDetails-btn::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #36b8f4;
    display: block;
    transition: 0.5s;
}
  
.admin-prodShowDetails-btn:hover::after, .admin-prodShowDetails-btn:hover::before {
    width: 100%;
}

.showMore-btn-container {
    display: flex;
    justify-content: end;
}