@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');


.admin-main-container {
   display: flex;
   flex-flow: row; 
}

.unitee-logo-admin {
    width: 100%;
    max-width: 100px;
    height: 100%;
    max-height: 100px;
    cursor: pointer;
}

.adminLogo-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.adminIcon {
    width: 100%;
    max-width: 30px;
    height: 30px;
    margin-right: 5px;
}

.admin-header {
    padding-top: 15px;
    background-color: #004AAD;
    justify-content: start;
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 15%;
    height: 100vh;
    gap: 30px;
}

.admin-nav-bar {
    display: flex;
    flex-flow: column;
    gap: 5px;
    height: fit-content;
}

.admin-nav-icon, .admin-nav-icon-users {
    width: 100%;
    width: 18px;
    height: 18px;
}

.admin-nav-icon-users {
    margin-right: 10px;
}

.admin-nav-text, .admin-nav-text-collapse, .users-type-collapse {
    color: white;
    font-size: 15px;
}

.admin-nav-text-collapse {
    margin-left: 2.5rem;
}

.admin-nav-link {
    padding: 12px;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    width: 14vw;
    border-radius: 5px;
    display: flex;
    justify-content: start;
}

.admin-nav-link-users {
    padding: 12px;
    gap: 10px;
    align-items: start;
    text-decoration: none;
    width: 14vw;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    flex-flow: column;
}

.admin-nav-link:hover, .admin-nav-link-users:hover {
    text-decoration: none;
    background-color: #020654;
}

.users-collapse-container {
    width: 17rem;
    display: flex;
    flex-flow: column;
    background-color: #020654;
    padding: 5px;
    border-radius: 5px;
}


.admin-collapse-users-link {
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

.admin-collapse-users-link:hover {
    background-color: #004AAD;
    text-decoration: none;
}

.admin-second-nav-container {
    height: 8vh;
    display: flex;
    padding: 10px 20px 10px 20px;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
}

.admin-logout-container {
    margin-top: 23rem;
}

.admin-logout-btn {
    font-size: 15px;
    font-weight: 600;
}

.logout-admin-icon {
    width: 100%;
    max-width: 15px;
    height: 15px;
    margin-right: 5px;
}

.logout-confirmation-modalBody {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: 20rem;
}

.logout-btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.logout-btn, .cancel-logout-btn {
    width: 15rem;
    border: solid 1px black;
    padding: 10px;
    border-radius: 10px;
}

.logout-btn:hover, .cancel-logout-btn:hover {
    padding: 9px;
    font-weight: 700;
    border: solid 2px black;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-top-color: #333;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.notifOverall-count {
    position: absolute; 
    margin-left: 77px;
    margin-top: 3px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 3px 3px 2px;
    font-size: 10px;
    min-width: 15px; 
    max-height: 15px;
    text-align: center; 
}

.notifCustomer-count {
    position: absolute; 
    margin-left: 20px;
    margin-top: 3px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 3px 3px 2px;
    font-size: 10px;
    min-width: 15px; 
    max-height: 15px;
    text-align: center; 
}

.notifSupplier-count {
    position: absolute; 
    margin-left: 33px;
    margin-top: 3px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 3px 3px 2px;
    font-size: 10px;
    min-width: 15px; 
    max-height: 15px;
    text-align: center; 
}