.viewProfile-admin-main-container {
    max-height: 92vh;
    width: 85vw;
    padding: 30px;
    flex-wrap: wrap;
    overflow: auto;
}

.profileImg-ADMIN {
    width: 100%;
    max-width: 18rem;
    height: 18rem;
    border-radius: 50%;
    object-fit: cover;
    border: solid 3px #F0F0F0;
}