.order-details-titles {
    color: #FFAA00;
    font-weight: 600;
}

.customer-details-input, .order-details-input {
    color:#020654;
    font-weight: 500;
    font-size: 20px;
}
.order-details-content, .customer-details-content {
    border-bottom: solid #FFAA00;
}

.payment-details-content {
    display: flex;
    flex-flow: column;
}

.order-details-text, .customer-details-text {
    font-size: 15px;
}

.order-total-input {
    font-weight: 700;
    font-size: 20px;
    color: #020654;
}

.customer-details-text, .order-details-text {
    font-weight: 600;
}

.orders-admin-container {
    max-height: 600px;
    overflow: auto;
    scroll-behavior: smooth;
    display: inline-block;
} 

.boxes-img {
    width: 100%;
    transform: rotateY(180deg);
}

.cancel-confirm-text {
    font-size: 20px;
    text-align: center;
    padding: 50px;
}

.order-table-wrapper {
    width: 700px;
    max-height: fit-content;
    overflow: auto;
    display:inline-block;
}

.receipt-btn {
    margin-top: 15px;
}

.receipt-body {
    border-style: none;
    border-radius: 20px;
    height: 600px;
    padding: 20px;
    background-color: #020654;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column;
}

.receipt-labels, .receipt-details {
    color: white;
}

.order-title {
    color: #FFAA00;
    font-weight: 600;
}

.product-list-table-wrapper {
    max-height: 200px;
    overflow: auto;
    display:inline-block;
    margin-top: 15px;
}

.list-title {
    margin-top: 15px;
    color: white;
}

.receipt-details-labels {
    color: #FFAA00;
}

.order-info-text {
    color: white;
}