.view-suppliers-main-container {
    height: 92vh;
    width: 85vw;
    padding: 20px;
    background-color: #F0F0F0;
    display: flex;
    flex-flow: column;
}

.filter-suppliers-container {
    background-color: #A4BFEB;
    border-radius: 5px;
    color: #020654;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15rem;
    flex-flow: row;
    width: 82vw;
}

.view-supp-header {
    margin-bottom: 10px;
}

.supplierStatus-label, .supplierDepartment-label {
    font-size: 15px;
    margin-right: 5px;
    color: #020654;
}

.sup-status-select, .sup-depa-select {
    padding: 10px;
}

.status-filter-container {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.supp-icon {
    width: 100%;
    max-width: 50px;
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}

.supplier-list-wrapper {
    overflow: auto;
    scroll-behavior: smooth;
    display: inline-block;
}

.validation-btn-supp {
    border: solid 1px black;
    color: black;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.validation-icon {
    width: 100%;
    margin-right: 5px;
    max-width: 12px;
}

.shop-profile-img {
    width: 100%;
    max-width: 18rem;
    height: 18rem;
    object-fit: cover;
    border: solid 3px #F0F0F0;
    border-radius: 50%;
    margin-left: 2rem;
}

.supplier-info-modal-body {
    padding: 20px;
}

.supplier-profile-container {
    display: flex;
    flex-flow: row;
    margin-bottom: 20px;
    margin-top: 20px;
}

.supplier-text-info {
    margin-left: 30px;
}

.supplier-info-container {
    display: flex;
    flex-flow: row;
    width: 40rem;
    justify-content: space-between;
}

.info-2-supp {
    display: flex;
    justify-content: end;
}

.edit-supplier-btn {
    border: solid 1px black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
  
}

.permits-link {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.permits-link:hover {
    background-color: #f0f0f0;
    text-decoration: none;
    font-weight: 600;
}

.supp-collapse-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-flow: column;
}

.changePassLabel {
    font-weight: 500;
    font-size: 15px;
}

.input-changePass {
    padding: 10px;
    border-radius: 5px;
}

.saveChanges-btn-container {
    display: flex;
    justify-content: end;
    align-items: end;
}

.saveChanges-btn {
    padding: 10px;
    border: solid 2px black;
    border-radius: 10px;
    margin-top: 3rem;
    width: 10rem;
}

.saveChanges-btn:hover {
    background-color: #020654;
    color: white;
}